:root{
    --cor5: #023535;
    --cor4: #015958;
    --cor3: #008F8C;
    --cor2: #0CABA8;
    --cor1: #0FC2C0;
    --fonte1: "Roboto Mono", monospace;
    --fonte2: "Montserrat", sans-serif;
    --fonte3: "Bebas Neue", sans-serif;
}